<form class="table">
  <div class="table">
    <div class="spacer2"></div>
    <div class="tabular-row spacer">
      <h3 class="full-title upper cell"><i>Username</i></h3>
      <input class="cell">
    </div>
    <div class="tabular-row spacer">
      <h3 class="full-title upper cell"><i>Password</i></h3>
      <input class="cell id-password" type="password">
    </div>
    <div class="tabular-row spacer">
      <h3 class="full-title upper cell"><i>New password</i></h3>
      <input class="cell" ng-class="{'inputerror': !$ctrl.passwordStrength &amp;&amp; $ctrl.newPassword.length}" ng-model="$ctrl.newPassword" ng-change="$ctrl.newPasswordChanged({newPassword: $ctrl.newPassword})" type="password">
    </div>
    <div class="tabular-row spacer">
      <h3 class="full-title upper cell">
        <i>Confirm new password</i>
      </h3>
      <input class="cell" ng-class="{'inputerror': !$ctrl.passwordMatches}" ng-model="$ctrl.confirmNewPassword" ng-change="$ctrl.confirmNewPasswordChanged({confirmNewPassword: $ctrl.confirmNewPassword})" type="password">
    </div>
    <div class="spacer2"></div>
    <div class="tabular-row spacer">
    <button ng-if="$ctrl.mode == $ctrl.modes[1]" ng-disabled="!$ctrl.passwordStrength || !$ctrl.passwordMatches || $ctrl.newPassword.length == 0 || $ctrl.confirmNewPassword.length == 0" ng-click="$ctrl.changePasswordClicked()" class="cell bttn id-login-submit ng-scope" disabled="disabled">
      CHANGE PASSWORD
    </button>
    </div>
  </div>
  <div class="cell spacer-horizontal"></div>
  <div class="cell ng-scope" ng-if="$ctrl.mode === $ctrl.modes[1]">
    <h3 class="full-title upper"><i>Password requirements:</i></h3>
    <div ng-repeat="check in $ctrl.passwordChecks track by $index" class="ng-scope">
      <h3 class="full-title upper ng-scope" ng-if="$index == 0">
        <i class="ng-binding">3 of the following:</i>
      </h3>
      <h3>
        <span class="full-title ng-scope" ng-if="!check[1]"><i class="error">✗</i></span>
        <span class="full-title"><i class="ng-binding">Minimum 8 letters</i></span>
      </h3>
    </div>
    <div ng-repeat="check in $ctrl.passwordChecks track by $index" class="ng-scope">
      <h3>
        <span class="full-title ng-scope" ng-if="!check[1]"><i class="error">✗</i></span>
        <span class="full-title"><i class="ng-binding">Uppercase letters [A-Z]</i></span>
      </h3>
    </div>
    <div ng-repeat="check in $ctrl.passwordChecks track by $index" class="ng-scope">
      <h3>
        <span class="full-title ng-scope" ng-if="!check[1]"><i class="error">✗</i></span>
        <span class="full-title"><i class="ng-binding">Lowercase letters [a-z]</i></span>
      </h3>
    </div>
    <div ng-repeat="check in $ctrl.passwordChecks track by $index" class="ng-scope">
      <h3>
        <span class="full-title ng-scope" ng-if="!check[1]"><i class="error">✗</i></span>
        <span class="full-title"><i class="ng-binding">Digits [0-9]</i></span>
      </h3>
    </div>
    <div ng-repeat="check in $ctrl.passwordChecks track by $index" class="ng-scope">
      <h3>
        <span class="full-title ng-scope" ng-if="!check[1]"><i class="error">✗</i></span>
        <span class="full-title"><i class="ng-binding">Special characters</i></span>
      </h3>
    </div>
  </div>
  </form>