@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:wght@500&display=swap');

::ng-deep .report-page {font-family: 'Poppins', sans-serif; padding: 1.3rem;
  height: calc(100vh - 87px); overflow: auto;
  h2 {font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 34px; line-height: 40px; letter-spacing: 0.25px;
    padding-bottom: 20px; margin-bottom: 18px; border-bottom: 1px solid #000000;
    width: 800px;
    &:not(:first-child) {margin-top: 50px;}
  }
  .report {
    &-row {width: 700px; font-size: 13px; line-height: 19px; padding-bottom: 15px; margin-left: 40px;}
    &-col {display: inline-block; width: 100%;
      &-title {font-weight: 600;}
      &-50 {width: 50%;}
      &-25 {width: 25%;}
      &-75 {width: 75%;}
    }
    &-disclaimer {font-size: 13px; line-height: 19px; padding-bottom: 15px; padding-left: 40px;
      background: url(/assets/images/custom-report-info.png) no-repeat; background-size: 40px; background-position-x: 40px;
      div {padding-left: 50px;}
    }
  }
  textarea {border: 1px solid rgb(155, 173, 189); border-radius: 4px; min-width: 75%;
    margin: 0px; height: 150px; min-height: 150px; width: 901px; margin-top: 40px;
    &:last-child {margin-bottom: 40px;}
  }
  input[type=text], .dropdown {border: 1px solid rgb(155, 173, 189); width: 220px;}
  .dropdown {height: 27px!important;}
  .dropdown-content {top: 106%!important;}
}